{
  "parser": "babel-eslint",
  "env": {
    "browser": true
  },
  "plugins": [
    "react"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "globalReturn": false
    }
  },
  "rules": {
    "semi": 2,
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "react/jsx-closing-bracket-location": [
      1,
      "tag-aligned"
    ],
    "react/jsx-tag-spacing": [
      1,
      {
        "closingSlash": "never",
        "beforeSelfClosing": "always",
        "afterOpening": "never",
        "beforeClosing": "allow"
      }
    ]
  }
}
